html{
	font-family: 'Lato', sans-serif;
}

canvas {
  position: fixed;
  /*width: 100%;
  height: 100%;*/
/*  top: 0;
  right: 0;
  left: 0;
  bottom: 0; */
  z-index: -1;
}

.site-intro{
	text-align: center;
	height: 100vh;
	vertical-align: middle;
	padding-top:35vh;
	color:#777;
}

.site-title{
	font-size: 60px;
	font-weight: 100;
	font-family: 'Lato', sans-serif;
	letter-spacing: 15px;
}

.lato-light{
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}

.lato-bold{
	font-weight: 400;
	font-family: 'Lato', sans-serif;
}

/*Navbar styles*/
.navbar-default {
  background: rgba(255,255,255,.6);
  border: none;
}

ul.dropdown-menu {
    background: rgba(255,255,255,.8);
    border-radius:20px;
    padding-bottom:20px;
}

.container-fluid .in{
    background: white;
}

#portfolio{
	height: 100%;
	background: rgba(56, 56, 56, 0.5);
}

#portfolio .col-sm-4 a div:first-child{
	background:white;
	border-radius:15px;
	width: 100%;
	height: 100%;
}

#portfolio img{
	border-radius:15px;
}

#portfolio .row{
	margin:20%;
	margin-top:20px;
}



#portfolio-row .col-sm-4{
	opacity: 0;
}

.portfolio-container{
	position: relative;
}

#portfolio-title{
	color:white; 
	margin-top:120px;
	letter-spacing: 15px;
}

.project-overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom:0;
	left: 0;
	right: 0;
	opacity: 0;
	padding: 20px;
	overflow: hidden;
	border-radius: 15px;
	background:rgba(255,255,255,1);
	transition: .5s ease;
	/*background-color: #008CBA;*/
}

.project-overlay h3{
	font-family: 'Lato';
	font-weight: 300;
	text-transform: uppercase;
	font-size: 15px;
}

#portfolio .col-sm-4:hover .project-overlay{
	opacity: 1;
}

#portfolio .col-sm-4 img:hover .project-overlay{
	opacity: 1;
}

.col-sm-4{
	padding:10px;
}

#categories{
	margin-bottom:70px;
}

#categories button{
	transition: background 0.5s ease;
	text-transform: uppercase !important;
	font-size: 12px;
	color:gray;
	margin:10px;
}

#categories button:hover, #categories button:focus{
	background:white;
	color:black;
}





#project-title{
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	font-family: "Lato";
	font-weight: "100";
	letter-spacing:10px;
}

.modal-subtitle, #project-subtitle{
	text-transform: uppercase;
	text-align: center;
	color:gray;
	font-size: 20px;
}

#project-screenshot{
	margin-bottom: 20px;
}

/* Important part */
.modal-dialog{
    overflow-y: initial !important
}

.modal-body{
    height: 60vh;
    overflow-y: auto;
	padding: 40px;
}

.modal-backdrop{
	background:white;
}

.modal-backdrop.in{
	opacity: .7;
}

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events:auto;
}

.modal-body img{
	width: 100%;
}

/*footer*/
#footer{
	height: 100px;
	text-align: center;
	background: rgba(255,255,255,.8);
	padding-top:20px;
	padding-bottom: 20px;
}



/*Arrows CSS*/

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 10%;
}

.arrows path {
	stroke: black;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

/*Media Queries*/
@media only screen and (max-width: 550px) {
    canvas{
    	display:none !important;
    }
    .site-intro{
		padding-top:25vh;
	}
	.site-title{
		font-size: 50px;
	}
	.site-intro{
		background-color:rgba(255,255,255,.6);
	}
	body {
    	background-image: url('../img/mobilebg.png') !important;
    	background-position: center center;
    	background-attachment: fixed;
    	background-repeat: no-repeat;
	}
}