html{
	font-family: 'Lato', sans-serif;
}

canvas {
  position: fixed;
  /*width: 100%;
  height: 100%;*/
/*  top: 0;
  right: 0;
  left: 0;
  bottom: 0; */
  z-index: -1;
}

.site-intro{
	text-align: center;
	height: 100vh;
	vertical-align: middle;
	padding-top:35vh;
	color:#777;
}

.site-title{
	font-size: 60px;
	font-weight: 100;
	font-family: 'Lato', sans-serif;
	letter-spacing: 15px;
}

.lato-light{
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}

.lato-bold{
	font-weight: 400;
	font-family: 'Lato', sans-serif;
}

/*Navbar styles*/
.navbar-default {
  background: rgba(255,255,255,.6);
  border: none;
}

ul.dropdown-menu {
    background: rgba(255,255,255,.8);
    border-radius:20px;
    padding-bottom:20px;
}

.navbar-collapse {
    background: white;
}

#portfolio{
	height: 100%;
	background: rgba(56, 56, 56, 0.5);
}

#portfolio .col-md-4 div{
	background:white;
	border-radius:15px;
	margin:20px;

}

#portfolio .row{
	margin:10%;
	margin-top:20px;
}

/*footer*/
#footer{
	height: 100px;
	text-align: center;
	background: rgba(255,255,255,.8);
	padding-top:20px;
	padding-bottom: 20px;
}



/*Arrows CSS*/

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 10%;
}

.arrows path {
	stroke: black;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

/*Media Queries*/
@media only screen and (max-width: 550px) {
    canvas{
    	display:none !important;
    }
    .site-intro{
		padding-top:25vh;
	}
	.site-title{
		font-size: 50px;
	}
	.site-intro{
		background-color:rgba(255,255,255,.6);
	}
	body {
    	background-image: url('../img/mobilebg.png') !important;
    	background-position: center center;
    	background-attachment: fixed;
    	background-repeat: no-repeat;
	}
}